.container {
  /* background-color: var(--primary-color); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  max-width: 300px;
  margin-bottom: 10px;
}
